<div class="row top-viewport">
  <div id="play-field" class="column callout">
    <h1 id="play-fieldText"></h1>
  </div>
</div>
<div class="row">
  <div class="text-center column">
    <button class="button text-center" id="playButton" name="playButton">Play</button>
    <button class="button text-center" id="showAnswerButton" name="showAnswerButton">Show Answer</button>
    <button class="button text-center" id="correctButton" name="correctButton">You got it!</button>
    <button class="button text-center" id="incorrectButton" name="incorrectButton">Dropped the ball!</button>
    <button class="button text-center" id="nextButton" name="nextButton">Next!</button>
  </div>
</div>

<!-- Score Bar -->

<div class="score-bar row medium-unstack align-middle align-spaced bottom-viewport">
  <div id="team1" class="team column text-center">
    <h3 class="team-name">
      <%= @team1.name %>
    </h3>
    <p class="score score-circle">
      <%= @team1.score %>
    </p>
    <ul class="hidden">
      <% @team1.players.each do |player| %>
      <li><%= player.name %></li>
      <% end %>
    </ul>
  </div>
  <div id="team2" class="team column text-center">
    <h3 class="team-name">
      <%= @team2.name %>
    </h3>
    <p class="score score-circle">
      <%= @team2.score %>
    </p>
    <ul class="hidden">
      <% @team2.players.each do |player| %>
      <li><%= player.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="team column text-center">
    <h3 class="team-name">
      <%= @team3.name %>
    </h3>
    <p class="score score-circle">
      <%= @team3.score %>
    </p>
    <ul class="hidden">
      <% @team3.players.each do |player| %>
      <li><%= player.name %></li>
      <% end %>
    </ul>
  </div>
  <div class="team column text-center">
    <h3 class="team-name">
      <%= @team4.name %>
    </h3>
    <p class="score score-circle">
      <%= @team4.score %>
    </p>
    <ul class="hidden">
      <% @team4.players.each do |player| %>
      <li><%= player.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<!-- allows selection of correct start team with saved game state -->

<div class="on-deck hidden">
  <p><%= @current.name %></p>
</div>
