<div class="row">
  <div id="play-field" class="column">
    <h1 id="play-fieldText"></h1>
  </div>
</div>
<div class="row">
  <div class="text-center column">
    <button class="button text-center" id="playButton" name="playButton">Play</button>
    <button class="button text-center" id="showAnswerButton" name="showAnswerButton">Show Answer</button>
    <button class="button text-center" id="correctButton" name="correctButton">You got it!</button>
    <button class="button text-center" id="incorrectButton" name="incorrectButton">Dropped the ball!</button>
    <button class="button text-center" id="nextButton" name="nextButton">Next!</button>
  </div>
</div>
<div class="score-bar row">
  <div class="one team column small-3">
    <h1 class="team-name">
      <%= @team1.name %>
    </h1>
    <p class="score">
      <%= @team1.score %>
    </p>
  </div>
  <div class="team two column small-3">
    <h1 class="team-name">
      <%= @team2.name %>
    </h1>
    <p class="score">
      <%= @team2.score %>
    </p>
  </div>
  <div class="team three column small-3">
    <h1 class="team-name">
      <%= @team3.name %>
    </h1>
    <p class="score">
      <%= @team3.score %>
    </p>
  </div>
  <div class="team four column small-3">
    <h1 class="team-name">
      <%= @team4.name %>
    </h1>
    <p class="score">
      <%= @team4.score %>
    </p>
  </div>
</div>
<div class="on-deck hidden">
  <p><%= @current.name %></p>
</div>
