<div class="row align-center align-middle">
  <div class="column small-2 team">
    <div class="team-name">
      <%= @team1.name %>
    </div>
    <div class="score-circle">
      <%= @team1.score %>
    </div>
  </div>
  <div class="column small-2 team">
    <div class="team-name">
      <%= @team2.name %>
    </div>
    <div class="score-circle">
      <%= @team2.score %>
    </div>
  </div>
  <div class="column small-2 team">
    <div class="team-name">
      <%= @team3.name %>
    </div>
    <div class="score-circle">
      <%= @team3.score %>
    </div>
  </div>
  <div class="column small-2 team">
    <div class="team-name">
      <%= @team4.name %>
    </div>
    <div class="score-circle">
      <%= @team4.score %>
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="column">
    <ul class="small-block-grid-4">
      <li class="team">
        <h3 class="team-name">
          <%= @team1.name %>
        </h3>
        <div class="score-circle">
          <p class="score">
            <%= @team1.score %>
          </p>
        </div>
      </li>
      <li class="team">
        <h3 class="team-name">
          <%= @team2.name %>
        </h3>
        <div class="score-circle">
          <p class="score">
            <%= @team2.score %>
          </p>
        </div>
      </li>
      <li class="team">
        <h3 class="team-name">
          <%= @team3.name %>
        </h3>
        <div class="score-circle">
          <p class="score">
            <%= @team3.score %>
          </p>
        </div>
      </li>
      <li class="team">
        <h3 class="team-name">
          <%= @team4.name %>
        </h3>
        <div class="score-circle">
          <p class="score">
            <%= @team4.score %>
          </p>
        </div>
      </li>
    </ul>

  </div>
</div> -->
